@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@mixin flex($dir,$ai,$jc) {
    display: flex;
    flex-direction: $dir;
    align-items: $ai;
    justify-content: $jc;
}

@mixin dim($w,$h) {
    width: $w;
    height: $h;

}
