@import "./Commons";
.settingsBox{
    @include dim(100%,auto);
    @include flex(column,center,none);
    color:$fonts;
    padding:10px;


    .headSett{
        @include dim(100%,auto);
        @include flex(row,center,space-between);
        .headLeft{
            padding:10px;

            @include dim(auto,auto);
            @include flex(row,center,flex-start);
            object{
                transform:scale(0.6);
                margin-right: 10px;
            }
            img{
                @include dim(35px,35px);
                border-radius: 100%;
                margin-right: 10px;

            }
            h4{
                margin-left: 10px;

            }
        }   
        p{
            font-size: 0.7rem;
            @include flex(row,center,none);
            margin-right: 10px;
            text-align: center;
            object{
                margin-right: 10px;
            }
        }
    }


    .mainSett{
        @include flex(column,flex-start,none);
        @include dim(100%,auto);
        padding:10px;

        .mainCont{
            @include dim(100%,auto);
            background-color:$secondary;
            @include flex(column,center,center);

            .itemSett{
                a{
                    color:$fonts;
                }
                @include dim(100%,auto);
                padding:15px;
                @include flex(row,center,space-between);
            
                object{
                    transform:scale(0.8);
                }
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 45px;
                    height: 20px;
                  }
                  
                  .switch input { 
                    opacity: 0;
                    width: 0;
                    height: 0;
                  }
                  
                  .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: transparent;
                    border:1px solid $fonts;
                    -webkit-transition: .4s;
                    transition: .4s;
                  }
                  
                  .slider:before {
                    position: absolute;
                    content: "";
                    height: 14px;
                    width: 14px;
                    left: 1px;
                    bottom: 1px;
                    border:1px solid $fonts;
                    background-color:$secondary;

                    -webkit-transition: .4s;
                    transition: .4s;
                  }
                  
                  input:checked + .slider {
                    background-color:$fonts ;
                    .slider:before{
                        background-color:$secondary;
                    }
                  }
                  
                  input:focus + .slider {
                    box-shadow: 0 0 1px #2196F3;
                    .slider:before{
                        background-color:$secondary;
                    }
                  }
                  
                  input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                  }
                  
                  /* Rounded sliders */
                  .slider.round {
                    border-radius: 34px;
                  }
                  
                  .slider.round:before {
                    border-radius: 50%;
                  }
                  
               
            }
            hr{
                width:95%;
                opacity: 0.5;
            }

        }

    }



}